.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 100px;
  max-width: 1300px;
  font-family: "Open Sans", sans-serif;
}
