.card {
  width: 290px;
  height: 280px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 15px;
  text-align: left;
  transition: 0.5s;
  position: relative;
  font-size: 16px;
}

.card:hover {
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
}

.clicked {
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
}

.lower-half {
  position: relative;
  margin: 10px 15px;
}

.description {
  width: 80%;
}

.trainer {
  position: absolute;
  top: 0;
  right: 0;
}

.view-details {
  color: rgb(0, 105, 210);
  position: absolute;
  bottom: 10px;
  left: 15px;
}
